
//Arrumar o arquivo depois
@font-face {
    font-family: "Sicoob sans";
    src: url('fonts/SicoobSansVariable.ttf');
    font-display: swap;
    font-weight: 100 1000;
    font-stretch: 80% 100%;
    font-style: normal;
}

@font-face {
    font-family: "Sicoob script";
    src: url('fonts/SicoobScriptVariable.ttf');
    font-display: swap;
    font-weight: 100 1000;
    font-stretch: 80% 100%;
    font-style: normal;
}

:root {
    --amarelo-100: #efa91e;
    --laranja-100: #f68140;
    --verdee-100: #1d5a6d;
    --verdee-200: #005566;
    --verdee-300: #145467;
    --verdee-400: #004452;
    --verdee: #003641;
    /*sicoob*/
    --verdee-500: #002A33;
    --verdee-600: #001E24;
    --verdem-200: #92D421;
    --verdem-300: #86C21E;
    --verdem: #7DB61C;
    --verdem-500: #73A81A;
    --verdem-600: #679617;
    --verdec-200: #EAF500;
    --verdec-300: #D7E000;
    --verdec: #C9D200;
    /*sicoob*/
    --verdec-500: #B9C200;
    --verdec-600: #A6AD00;
    --verdec-700: #b8d38c;
    --verdet-200: #00c8b4;
    --verdet-300: #00bdab;
    --verdet: #00AE9D;
    /*sicoob*/
    --verdet-500: #00a494;
    --verdet-600: #009a8b;
    --verdet-700: #006633;
    --vermelho: #d33f48;
    --vermelho-100: #ee857b;
    --vermelho-200: #e66f6a;
    --vermelho-300: #de5a59;
    --roxo: #49479D;
    /*sicoob*/
    --roxo-200: #5956B3;
    --roxo-300: #4E4CA9;
    --roxo-500: #41408C;
    --roxo-600: #3B397E;
    --branco: #FFFFFF;
    --cinza-100: #f0f0f0;
    --cinza-200: #F2F2F2;
    --cinza-300: #E9E9E9;
    --cinza-400: #D1D1D1;
    --cinza-500: #B4B4B4;
    --cinza-600: #9d9d9d;
    --cinza-700: #6e6e6e;
    --cinza-800: #5E5E5E;
    --cinza-900: #333;
    --cinza-claro: #eee;
    --gelo: #f4f5f1;
    --gelo-claro: #f6f7f4;
    --preto: #000;
    --transparente: rgba(0, 0, 0, 0);
}